
@keyframes logo{
    from{transform: rotate(-20deg)}
    to{transform: rotate(20deg)}

}
header{
    nav{
        ul.default-nav{
            display: flex;
            justify-content: flex-end;
            list-style-type: none;
            padding: 1em;   /* Para corrigir bug */
            background-image: linear-gradient(#bbb, white);
            li{
                display: inline;
                a{
                    padding: 1em;
                    color: black;
                    &, &:visited, &:active{
                        text-decoration: none;
                    }
                    &:hover{
                        text-decoration: none;
                        border-bottom: 1px solid gray;
                    }
                }
            }
        }
        .mobile-nav{
            display: none;
        }
    }
    .header-content{
        padding: 3em 0 3em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .header-content-title{
            display: inline-flex;
            align-items: center;
            margin-bottom: 1em;
            h1{
                display: inline-block;
                font-size: 4em;
                margin-left: 0.5em;
                font-family: 'Caviar Dreams';
            }    
            img.logo{
                animation-name: logo;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: ease-in-out;
            }
        }
        .header-content-subtitle{
            font-size: 1.2em;
        }
    }
}
main{
    .main-1, .main-2, .main-3{
        padding: 4em;
        .main-img-wrapper i{
            font-size: 13em;
        }
        section{
            padding-left: 5em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            header{
                h3{
                    margin-bottom: 1em;
                }
            }
        }
    }
    .main-1{
        background-image: linear-gradient(120deg, hsl(217, 90%, 61%), transparent, transparent, transparent);
    }
    .main-2{
        background: linear-gradient(240deg, hsl(180, 100%, 50%), transparent, transparent, transparent);
    }
    .main-3{
        background-image: linear-gradient(120deg, hsl(144, 100%, 50%), transparent, transparent, transparent);
    }
    .main-4{
        padding: 4em;
        p.main-4-subtitle{
            margin-bottom: 3em;
            font-size: 1.2em;
        }
        section.brands{
            margin-bottom: 2em;
            .brand-box{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 3em;
                i{
                    font-size: 8em;
                }
                p{
                    text-align: justify;
                }
                h2{
                    font-size: 1.2em;
                    font-weight: bold;
                    margin-top: 0.5em;
                }
                .brand-i-1{
                    color: hsl(217, 90%, 61%);
                }
                .brand-i-2{
                    color: aqua;
                }
                .brand-i-3{
                    color: #00ff66;
                }
            }
        }
    }
}
footer{
    padding: 2em;
    background-image: linear-gradient(transparent, #bbb, #bbb, #bbb)
}

@media only screen and (max-width: 768px){      /* Tablet */
    main{
        .main-1, .main-2, .main-3{
            .main-img-wrapper i{
                font-size: 8em;
            }
        }
        .main-4{
            padding: 1em;
            section.brands{
                .brand-box{
                    padding: 1em;
                }
            }
        }
    }
}

@media only screen and (max-width: 425px){      /* Celular */
    header{
        nav{
            ul.default-nav{
                display: none;
            }
            .mobile-nav{
                display: block;
                padding: 0.8em;
            }
        }
        .header-content{
            padding: 1em;
            .header-content-title{
                flex-direction: column;
                h1.lunio-title{
                    font-size: 3em;
                    margin: 0.4em 0 0 0;
                }
            }
            p.header-content-subtitle{
                font-size: 1em;
            }
        }
    }
    main{
        .main-1, .main-2, .main-3{
            section{
                padding: 1em;
            }
            .main-img-wrapper{
                display: none;
            }
        }
        .main-1{
            background-image: linear-gradient( hsl(217, 90%, 61%), transparent, transparent, transparent);
        }
        .main-2{
            background: linear-gradient( hsl(180, 100%, 50%), transparent, transparent, transparent);
        }
        .main-3{
            background-image: linear-gradient( hsl(144, 100%, 50%), transparent, transparent, transparent);
        }
        .main-4{
            padding: 2em;
            h2{
                font-size: 1.5em;
            }
            p.main-4-subtitle{
                font-size: 1em;
                margin-bottom: 2em;
                color: #777;
            }
            section.brands{
                .brand-box{
                    padding: 1em 2em;
                }
            }
        }
    }
}