@font-face {
  font-family: 'Caviar Dreams';
  src: url("../font/caviardreams.ttf"); }
html, body, header, nav, ul {
  padding: 0;
  margin: 0;
  letter-spacing: 0.15em;
  font-family: 'Calibri Light', 'Helvetica', 'Arial';
  color: #222; }

ul {
  list-style-type: none; }

h1 {
  font-size: 34pt; }

@keyframes logo {
  from {
    transform: rotate(-20deg); }
  to {
    transform: rotate(20deg); } }
.site-background {
  background-image: url("../img/idea.jpg");
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1; }

header.site-header nav ul.default-nav {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 1em;
  /* Para corrigir bug */
  background-image: linear-gradient(#666, transparent); }
  header.site-header nav ul.default-nav li {
    display: inline;
    border-left: 1px solid black; }
    header.site-header nav ul.default-nav li:first-child {
      border: none; }
    header.site-header nav ul.default-nav li a {
      padding: 1em;
      color: black; }
      header.site-header nav ul.default-nav li a, header.site-header nav ul.default-nav li a:visited, header.site-header nav ul.default-nav li a:active {
        text-decoration: none; }
      header.site-header nav ul.default-nav li a:hover {
        text-decoration: none;
        opacity: 0.5; }
header.site-header nav .mobile-nav {
  display: none; }
header.site-header .header-content {
  padding: 4em;
  display: flex;
  flex-direction: column;
  align-items: center; }
  header.site-header .header-content .header-content-title {
    display: inline-flex;
    align-items: center;
    margin-bottom: 1em; }
    header.site-header .header-content .header-content-title h1 {
      display: inline-block;
      font-size: 4em;
      margin: 0.3em 0 0 0.4em;
      font-family: 'Caviar Dreams'; }
    header.site-header .header-content .header-content-title img.logo {
      animation-name: logo;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out; }
  header.site-header .header-content .header-content-subtitle {
    font-size: 1.2em; }
  header.site-header .header-content .header-content-buttons {
    margin: 1em 0; }
    header.site-header .header-content .header-content-buttons button {
      padding: 0.5em;
      border: none;
      width: 10em;
      margin: 0 0.5em;
      background: none;
      color: black;
      border: 1px solid black; }
      header.site-header .header-content .header-content-buttons button:hover {
        opacity: 0.5; }

main .main-1, main .main-2, main .main-3 {
  padding: 4em; }
  main .main-1 .main-img-wrapper i, main .main-2 .main-img-wrapper i, main .main-3 .main-img-wrapper i {
    font-size: 13em; }
  main .main-1 section, main .main-2 section, main .main-3 section {
    padding-left: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    main .main-1 section header h3, main .main-2 section header h3, main .main-3 section header h3 {
      margin-bottom: 1em; }
main .main-1 {
  background-image: linear-gradient(120deg, #4287f5, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)); }
main .main-2 {
  background: linear-gradient(240deg, cyan, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)); }
main .main-3 {
  background-image: linear-gradient(120deg, #00ff66, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)); }
main .main-4 {
  padding: 4em;
  background: rgba(255, 255, 255, 0.7); }
  main .main-4 p.main-4-subtitle {
    margin-bottom: 3em;
    font-size: 1.2em; }
  main .main-4 section.brands {
    margin-bottom: 2em; }
    main .main-4 section.brands .brand-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 3em; }
      main .main-4 section.brands .brand-box i {
        font-size: 8em; }
      main .main-4 section.brands .brand-box p {
        text-align: justify; }
      main .main-4 section.brands .brand-box h2 {
        font-size: 1.2em;
        font-weight: bold;
        margin-top: 0.5em; }
      main .main-4 section.brands .brand-box .brand-i-1 {
        color: #4287f5; }
      main .main-4 section.brands .brand-box .brand-i-2 {
        color: aqua; }
      main .main-4 section.brands .brand-box .brand-i-3 {
        color: #00ff66; }

footer {
  padding: 2em;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), #777, #777, #777); }

@media only screen and (max-width: 768px) {
  /* Tablet */
  main .main-1 .main-img-wrapper i, main .main-2 .main-img-wrapper i, main .main-3 .main-img-wrapper i {
    font-size: 8em; }
  main .main-4 {
    padding: 1em; }
    main .main-4 section.brands .brand-box {
      padding: 1em; } }
@media only screen and (max-width: 425px) {
  /* Celular */
  header.site-header nav ul.default-nav {
    display: none; }
  header.site-header nav .mobile-nav {
    display: block;
    padding: 0.8em; }
  header.site-header .header-content {
    padding: 1em; }
    header.site-header .header-content .header-content-title {
      flex-direction: column; }
      header.site-header .header-content .header-content-title h1.lunio-title {
        font-size: 3em;
        margin: 0.4em 0 0 0; }
    header.site-header .header-content p.header-content-subtitle {
      font-size: 1em; }
    header.site-header .header-content .header-content-buttons {
      display: flex;
      flex-flow: column-reverse; }
      header.site-header .header-content .header-content-buttons button {
        margin: 0.5em 0; }

  main .main-1 section, main .main-2 section, main .main-3 section {
    padding: 1em; }
  main .main-1 .main-img-wrapper, main .main-2 .main-img-wrapper, main .main-3 .main-img-wrapper {
    display: none; }
  main .main-1 {
    background-image: linear-gradient(#4287f5, transparent, transparent, transparent); }
  main .main-2 {
    background: linear-gradient(cyan, transparent, transparent, transparent); }
  main .main-3 {
    background-image: linear-gradient(#00ff66, transparent, transparent, transparent); }
  main .main-4 {
    padding: 2em; }
    main .main-4 h2 {
      font-size: 1.5em; }
    main .main-4 p.main-4-subtitle {
      font-size: 1em;
      margin-bottom: 2em;
      color: #777; }
    main .main-4 section.brands .brand-box {
      padding: 1em 2em; } }

/*# sourceMappingURL=estilo.css.map */
